<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Perguntas</title>
</head>

<body>
    <h1>site de guias de perguntas</h1>
    <%= nome %>

        <% if (msg==true) { %>
            <h3>Isso é uma mensagem de erro</h3>
            <% } %>


</body>

</html>